# Ignore build folders inside StructAI
bin/
obj/
publish/
TestResults/

# VS / Rider
.vs/
.idea/
*.user
*.suo
*.cache
*.tmp
*.db

# Ignore Blazor build output
wwwroot/_framework/
wwwroot/service-worker-assets.js
wwwroot/*.dll
wwwroot/*.pdb
wwwroot/*.wasm
wwwroot/*.map

*.log

# OS junk
Thumbs.db
.DS_Store

# Track your actual assets
!wwwroot/css/**
!wwwroot/metadata/**
!wwwroot/models/**
!wwwroot/*.html
!wwwroot/*.ico
!wwwroot/manifest*
!wwwroot/service-worker.js
