<Project>
  <PropertyGroup>
    <PublishDir>E:\work\TQ\Repos\Deploy\Innermetrix-CIC\</PublishDir>
  </PropertyGroup>

  <ItemGroup>
    <Content Update="wwwroot/AppData/metadata/AppSettings.json">
      <CopyToPublishDirectory>Never</CopyToPublishDirectory>
    </Content>

    <Content Include="Configs/Innermetrix-CIC/AppSettings.json">
      <Link>wwwroot/AppData/metadata/AppSettings.json</Link>
      <CopyToPublishDirectory>Always</CopyToPublishDirectory>
    </Content>
  </ItemGroup>
</Project>
