<Project>
  <PropertyGroup>
    <PublishDir>E:\work\TQ\Repos\Deploy\paulhotchin-StructAI-App\</PublishDir>
  </PropertyGroup>

  <ItemGroup>
    <Content Update="wwwroot/AppData/metadata/AppSettings.json">
      <CopyToPublishDirectory>Never</CopyToPublishDirectory>
    </Content>

    <Content Include="Configs/paulhotchin-StructAI-App/AppSettings.json">
      <Link>wwwroot/AppData/metadata/AppSettings.json</Link>
      <CopyToPublishDirectory>Always</CopyToPublishDirectory>
    </Content>
  </ItemGroup>
</Project>
